.burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
}

.burger-menu .line {
    width: 2rem;
    height: 0.25rem;
    background: var(--color-secondary);
    border-radius: 2rem;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}

.burger-menu .line:first-child {
    transform: rotate(0);
}

.burger-menu .line:nth-child(2) {
    opacity: 1;
    transform: translateX(0);
}

.burger-menu .line:nth-child(3) {
    transform: rotate(0);
}

.burger-menu .open:first-child {
    transform: rotate(45deg);
}

.burger-menu .open:nth-child(2) {
    opacity: 0;
    transform: translateX(20px);
}

.burger-menu .open:nth-child(3) {
    transform: rotate(-45deg);
}

@media (max-width: 768px) {
    .burger-menu {
        display: flex;
    }
}
