.black{
  font-weight: 400;
}

.footer__p {
  color: var(--color-grey);
}

.footer__nav,
.footer__nav > li {
  gap: 2rem;
}

.footer__nav > li {
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.footer_p.black{
  font-size: 1rem;
}