.button--primary{
    background: var(--color-blue);
    color: #ffffff;
}

.button--primary-waves{
    background-image: url('../../assets/blue-waves.svg');
    background-size: cover;
    color: #ffffff;
}

.button--transparent{
    outline: 2px solid rgba(97, 114, 131, 0.2);
}

.button {
    border-radius: 0.2rem;
    width: 7rem;
    padding: 0.7rem;
    text-align: center;
}

button:hover {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}
