.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    animation: fadeIn 0.3s ease-in-out;
    backdrop-filter: blur(0.2rem);
}

.modal-content {
    background: var(--color-primary-transparent);
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    animation: zoomIn 0.3s ease-in-out;
}

.modal__btns {
    gap: 1rem;
}

.no-scroll {
    overflow: hidden;
}

@keyframes fadeIn {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.7);
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
